html,
body {
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
}

h1 {
  font-family: sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

p {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1em;
}

nav {
  background-color: #c6d8dc;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.logo-container {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 7 0px;
  height: 70px;
  margin-left: 1%;
  margin-right: 0;
}

.logo-container h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: #525151;
}
nav a {
  order: 1;
  float: right;
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #aed4d7;
  color: black;
}

.contact-us-image {
  position: relative;
}

.contact-us-image img {
  display: block;
  height: 600px;
  width: 100%;
}

.contact-us-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.contact-us-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 50px;
  opacity: 0.8;
  border-radius: 40px;
}
.form form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

label {
  margin-top: 1%;
}

input {
  border: 1px solid rgb(162, 160, 160);
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form {
  padding: 25px;
  margin: 25px;
  border-radius: 15px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15%;
  background: rgb(53, 126, 130);
  background: linear-gradient(
    249deg,
    rgba(53, 126, 130, 1) 0%,
    rgba(121, 171, 165, 0.3310574229691877) 35%,
    rgba(214, 226, 228, 1) 91%
  );
  border: 3px solid rgb(140, 190, 174);
  border-radius: 25px;
  box-shadow: 2px 4px 2px 4px rgb(125, 144, 125);
  padding: 25px;
}

.form-container img {
  width: 40%;
}

.names {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.role {
  display: flex;
  flex-direction: row;
}

label {
  margin-right: 5px;
  margin-left: 15px;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
}

textarea {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 8px;
}

button {
  font-size: large;
  color: white;
  padding: 15px;
  width: 30%;
  background-color: rgb(136, 212, 178);
  border: 1px solid rgb(159, 220, 204);
  cursor: pointer;
  border-radius: 15px;
}

.elit-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.contact-elem {
  display: flex;
  align-items: center;
}

.elit-contacts a {
  text-decoration: none;
  font-size: medium;
  color: black;
  margin: 10px;
  text-align: center;
}

.elit-contacts img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

iframe {
  margin: 15px;
}

footer {
  margin-top: 3%;
  height: fit-content;
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(38, 38, 68);
  color: white;
}

.footer-items {
  display: flex;
  flex-direction: row;
  gap: 8%;
}

.logo {
  width: 200px;
  height: 200px;
  float: left;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5%;
}

.contact-item {
  padding: 5px;
}

.contact-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.menu a {
  padding: 5px;
}

footer p {
  text-align: center;
  font-size: smaller;
}

.partners-list img {
  width: 150px;
  height: 80px;
  margin: 10px;
  border-radius: 35px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

.break {
  flex-basis: 100%;
  height: 0;
}
