html,
body {
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
}

h1 {
  font-family: sans-serif, Arial, Helvetica;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
}

p {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1em;
}

nav {
  background-color: #c6d8dc;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.logo-container {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 7 0px;
  height: 70px;
  margin-left: 1%;
  margin-right: 0;
}

.logo-container h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: #525151;
}
nav a {
  order: 1;
  float: right;
  display: flex;
  color: black;
  text-align: center;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #aed4d7;
  color: black;
}

.subscription-container {
  position: relative;
  width: 100%;
}

.subscription-container img {
  display: block;
  width: 100%;
  height: 600px;
}

.subscription-container img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.subscription-container h1 {
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: center;
  color: white;
}

.subscription-container button {
  position: absolute;
  top: 50%;
  left: 40%;
  height: 60px;
  padding: 15px;
  border: 1px solid rgb(224, 224, 150);
  border-radius: 25px;
  background-color: rgb(213, 250, 166);
  transition: transform 0.2s;
  font-family: 'Manrope', sans-serif;
  font-size: larger;
  cursor: pointer;
}

.subscription-container button:hover {
  transform: scale(1.2);
}

.reasons-container {
  padding: 15px;
}

.reasons {
  display: flex;
  flex-direction: row;
}

.reasons ul {
  list-style-type: '✔️';
}

.reasons ul > li {
  font-size: larger;
}

.reasons img {
  width: 25%;
  height: 40%;
}

.table-container {
  background: rgb(53, 126, 130);
  background: linear-gradient(
    249deg,
    rgba(53, 126, 130, 1) 0%,
    rgba(121, 171, 165, 0.3310574229691877) 35%,
    rgba(214, 226, 228, 1) 91%
  );
  text-align: center;
}

.table-container h1 {
  padding-top: 1%;
  font-size: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

th,
td {
  border: none;
  padding: 40px;
  text-align: center;
}

.cell {
  cursor: pointer;
  background-color: white;
  padding-top: 5px;
  border-radius: 25px;
  box-shadow: 10px 5px 5px rgb(81, 146, 132);
  height: 150px;
  width: 100%;
  transition: transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

.cell:hover {
  transform: scale(1.2);
}

.cell img {
  height: 50px;
  width: 50px;
  padding-top: 7px;
}

th {
  background-color: #f2f2f2;
}

.for-others-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.for-parents {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  height: 400px;
  background-image: url('./assets/parents.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.for-teachers {
  margin-left: 10px;
  position: relative;
  height: 400px;
  background-image: url('./assets/teachers.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.overlay {
  flex: 1;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.for-parents h1,
.for-parents p {
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.join p {
  font-size: large;
}

.join button {
  width: 200px;
  height: 50px;
  text-align: center;
  border: 1px solid rgb(224, 224, 150);
  border-radius: 25px;
  background-color: rgb(213, 250, 166);
  transition: transform 0.2s;
  font-family: 'Manrope', sans-serif;
  font-size: larger;
  cursor: pointer;
}

.join button:hover {
  transform: scale(1.2);
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

footer {
  margin-top: 3%;
  height: fit-content;
  padding: 5px;
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(38, 38, 68);
  color: white;
}

.footer-items {
  display: flex;
  flex-direction: row;
  gap: 8%;
}

.logo {
  width: 200px;
  height: 200px;
  float: left;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5%;
}

.contact-item {
  padding: 5px;
}

.contact-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.menu a {
  padding: 5px;
}

footer p {
  text-align: center;
  font-size: smaller;
}

.partners-list img {
  width: 150px;
  height: 80px;
  margin: 10px;
  border-radius: 35px;
}

.partners-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
}

.break {
  flex-basis: 100%;
  height: 0;
}
